<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pluralsight.courses">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name = "android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBIP2ITSxDmyiF83JtouBD7vdsNhOaKtNM" />

        <activity
            android:name=".maps.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".AddEventActivty" android:parentActivityName=".ListEventActivity" android:launchMode="singleTop"/>
        <activity android:name=".RegisterActivity" android:parentActivityName=".LoginActivity"/>
        <activity android:name=".ListEventActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".EventActivity" android:parentActivityName=".ListEventActivity" />
        <activity android:name=".ShowScheduledEventActivity"/>
        <activity android:name=".ScheduleEventActivity" android:parentActivityName=".ShowScheduledEventActivity" />
        <activity android:name=".QrScannerActivity" android:parentActivityName=".ListEventActivity" />
        <activity android:name=".QRCodegenerator" android:parentActivityName=".ListEventActivity" />
        <activity android:name=".CommentActivity" android:parentActivityName=".EventActivity" />
        <activity android:name=".UsersActivity" android:parentActivityName=".ListEventActivity"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".utility.BroadCast"/>
    </application>

</manifest>